body {
    font-family: Tahoma;
    background-color: yellow;
    margin-top: 75px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold ;
}

.img-medium {
    height: 300px;
}

.style {
        max-width: 500px;
    padding-top: 60;
    margin: auto;
    font-family: Tahoma;
    font-size: 20;
    color: Brown;
        
    }
